/* global styles here imported in main.jsx */
@import './base/variables.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {border: dashed rgba(40, 241, 255, 0.795) 1px;}


html {
    -webkit-text-size-adjust: 100%; /* Safari and Chrome */
    -moz-text-size-adjust: 100%; /* Firefox */
    text-size-adjust: 100%;
}

html, body, nav, #root, main, section, .infinite-scroll-component__outerdiv, .infinite-scroll-component {
    margin: 0;
    padding: 0;
    border: 0;
}

#root, body {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100vh;
}

/* Shell defines boundaries, Stack defines rhythm, Cluster defines horizontal relationships. */

.shell {
  max-width: var(--max-page);
  margin-inline: auto;
  padding-inline: var(--space-md);
}

.stack {
  display: flex;
  flex-direction: column;
  gap: var(--space-md); /* change upon media queries */
}

.cluster {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-sm); /* change upon media queries */
  align-items: center;
}


main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

aside {
  height: 100vh;
  width: 15vw;
  max-width: 200px;
  min-width: 150px;
  flex-direction: column;
  justify-content: space-between; 
  display: flex;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: var(--text-3xl);
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
