
.chatBody {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-left: solid 2px var(--color-text-muted);
  background-size: contain;
  background-repeat: repeat;
}

.messages {
  display: flex;
  flex-direction: column;
  padding: 20px;
  flex: 3;
  background-color: var(--color-background-transparent);
}

.inputContainer {
  height: 10%;
  background-color: var(--color-secondary-light);
  display: flex;
  align-items: center;
  padding: 0 20px;
  bottom: 0;
  width: 100%;
  border-top: solid 2px var(--color-text-muted);
  border-bottom: solid 2px var(--color-text-muted);
}

.header {

  background-color: var(--color-background-transparent);
}

.header, .noMessages {
  flex: 1;
  padding: var(--space-md);
}

.orderToggle {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}


