
.messages {
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
}

.ownMessage, .message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 60%;
    word-wrap: break-word;
}

.ownMessage {
    background-color: #001741;
    align-self: flex-end;
}

.message {

}