
.chatBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border-left: solid 2px var(--color-text-muted);
  background-size: contain;
  background-repeat: repeat;
}

.messagesContainer {
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-transparent);
}

.messages, .messagesReversed {
  padding-left: var(--space-xl);
  padding-right: var(--space-xl);
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
}


.messagesReversed {
  flex-direction: column-reverse;
}

.inputContainer {
  height: 10%;
  background-color: var(--color-secondary-light);
  display: flex;
  align-items: center;
  padding: var(--space-md);
  bottom: 0;
  width: 100%;
  border-top: solid 2px var(--color-text-muted);
  border-bottom: solid 2px var(--color-text-muted);
}

.header {

  background-color: var(--color-background-transparent);
}

.header, .noMessages {
  flex: 1;
  padding: var(--space-md);
}

.orderToggle {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: var(--color-background-transparent);
}

.arrow {
  width: var(--icon-size-desktop);
  height: var(--icon-size-desktop);
  padding: var(--space-md);
}

.arrow:hover {
  cursor: pointer;
  background-color: var(--color-background-transparent);
  filter: brightness(1.4);
  border-radius: var(--radius-lg);
}



