
@import '../base/variables.css';

.messagesBox {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 40rem; 
  width: 20rem;
  background-color: rgb(17, 17, 17);
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
}

.messageButton {
  width: 100%;
  text-align: left;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: black;
}

.messageButton p {
  margin: 0;
  padding: 10px;
  color: black;
}

.friendsList {
  padding: 10px;
}

.friendItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #eee;
}

.friendItemBtn {
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.newMessage, .noMessage {
  color: white;
  padding: 5px 10px;
  font-size: 12px;
}

.newMessage {
  background-color: red;
  font-weight: bold;
}

.pendingMessages {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.pendingMessageItem {
  flex: 1;
}

.pendingMessagesBtn {
  display: flex;

}

.pendingCount {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-left: 5px;
  font-size: var(--text-xs);
  background-color: rgb(255, 0, 0);
  padding: 2px 8px;
  border-radius: 50%;
  border: 2px solid rgb(145, 2, 2);
}

.messageTimeStamp {
  font-size: 10px;
  color: #888;
  font-style: italic;
}

.messageItem, .receievedMessageItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.messageItem {
  align-items: flex-end;
  background-color: #021fc0;
}

.messageContent {
  flex: 1;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}