

.messagesBox {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 40rem; 
  width: 20rem;
  background-color: rgb(17, 17, 17);
  padding: 20px;
  box-sizing: border-box;
}

.messageButton {
  width: 100%;
  text-align: left;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: black;
}

.messageButton p {
  margin: 0;
  padding: 10px;
  color: black;
}