
.ownMessage, .message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 60%;
    width: 50%;
    word-wrap: break-word;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.ownMessage {
    background-color: #001741;
    align-self: flex-end;
}

.messageContainer {
  display: flex;
  flex-direction: column;
}

.messageHeader {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.dateSeparator {
  background-color: #252525;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 10px auto;
  font-size: var(--text-xs);
  color: #888;
  font-style: italic;
}

.dateSeparator, .messageTimeStamp {
  margin: 10px 0;
  flex: 1;
  font-size: var(--text-xs);
  color: #888;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.messageTimeStamp {
  margin: 5px 0;
  justify-content: flex-start;
}

.avatarContainer {
  display: flex;
  align-items: center;
}

.avatarButton {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

