
.ownMessage, .message {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    max-width: 60%;
    word-wrap: break-word;
    flex: 1;
    display: flex;
}

.ownMessage {
    background-color: #001741;
    align-self: flex-end;
    flex: 1;
}

.messageContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

