
.message {
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    word-wrap: break-word;
    flex: 1;
    display: flex;
    flex-direction: column;
}



.ownMessageContainer {
    background-color: #001741;
}

.messageContainer {
  display: flex;
  flex-direction: column;
}


.messageHeader, .messageHeaderLeft {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.dateSeparator {
  background-color: #252525;
  padding: 5px 10px;
  border-radius: 20px;
  margin: 10px auto;
  font-size: var(--text-xs);
  color: #888;
  font-style: italic;
}

.dateSeparator, .messageTimeStamp, .messageTimeStampLeft {
  margin: 10px 0;
  flex: 1;
  font-size: var(--text-xs);
  color: #888;
  font-style: italic;
  display: flex;
  justify-content: center;
}

.messageTimeStamp, .messageTimeStampLeft {
  margin: 5px 0;
  justify-content: flex-start;
  flex: 1;
}

.messageContent {
  gap: 5px;
  display: flex;
}

.messageTimeStampLeft, .messageHeaderLeft {
  align-items: flex-end;
  justify-content: flex-end;
}

.avatarContainer {
  display: flex;
  align-items: center;
}

.avatarButton {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

