@import '../base/variables.css';

.navbar {
  height: 10vh;
  position: sticky;
  top: 0;
  min-height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-secondary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  max-height: 100%;
  gap: 10px;
  padding: 20px;
}



.logoImageContainer {
  height: 60px;
  width: 60px;
}

.logoImage {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.navLinks {
  flex: 1;
  display: flex;
  gap: 2rem;
}

.navLinks button {
  background: var(--color-background);
  border: none;
  box-sizing: border-box;
  padding: var(--space-md) var(--space-lg);
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.navLinks button:hover {
  background-color: var(--color-background);
  filter: brightness(0.9);
}

