
.navbar {
  height: 10vh;
  min-height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #1a1a1a;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  flex: 1;
  font-size: 1.5em;
  font-weight: bold;
}
.navLinks {
  flex: 1;
  display: flex;
  gap: 15px;
}
