
@import '../base/variables.css';

.sidebar {
  flex: 1;
  display: flex;
  flex-direction: column;
  border: none;
}

.sidebarHeader {
  padding: 8px 16px;
  background-color: var(--color-secondary-light);
  border-bottom: solid 4px var(--color-primary-dark);
}

.chatRoomList {
  flex: 1;
  overflow-y: auto;
  border: none;
}

.chatRoomItem, .chatRoomItemAlt {
  flex: 1;
  padding: var(--space-sm);
  display: flex;
}

.chatRoomItem {
  background-color: var(--color-background-transparent);
}

.chatRoomItemAlt {
  background-color: var(--color-secondary-light);
}

.chatRoomItem:hover, .chatRoomItemAlt:hover {
  filter: brightness(1.1);
}

.chatRoomItem button, .chatRoomItemAlt button {
  flex: 1;
  width: 100%;
  height: 100%;
}

.chatRoomItemAlt button:hover, .chatRoomItem button:hover {
  background-color: transparent;
}


.addRoomButton {
  border-top: solid 4px var(--color-primary-dark);
  display: flex;
  justify-content: center;
  padding: var(--space-sm);
}

.addRoomButton button {
  background: none;
  border: none;
  cursor: pointer;
  padding: var(--space-sm) 12px;
}

.addRoomButton button:hover {
  background-color: var(--color-background-transparent);
  filter: brightness(1.4);
  border-radius: var(--radius-lg);
}


.addRoomIcon {
  width: var(--icon-size-desktop);
  height: var(--icon-size-desktop);
}

.chatRoomItem button, .chatRoomItemAlt button {
  background: none;
  border: none;
  padding: var(--space-sm);
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.createRoomForm {
  padding: var(--space-md);
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  background-color: var(--color-secondary-light);
  box-shadow: inset 0 0 3px 2px var(--color-primary-dark);
  border-radius: var(--radius-lg);
  border: solid 4px var(--color-primary);
}

.createRoomForm input, .createRoomForm select {
  padding: var(--space-sm);
  font-size: var(--text-base);
  border-radius: var(--radius-sm);
  background-color: #1a1a1a;
  color: var(--color-text);
  box-sizing: border-box;
}

.createRoomForm form {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  padding: var(--space-md);
}
